[submodule "whisper/src/main/jni/whisper.cpp"]
	path = whisper/src/main/jni/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "llm/src/main/jni/llama.cpp"]
	path = llm/src/main/jni/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
